<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ATC" Language="1033" Version="$(var.Version)" Manufacturer="atc" UpgradeCode="95db5844-64fe-53cf-aa9c-d4a25764701b">
    <Package InstallerVersion="450" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer ATC is already installed." Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="$(var.Icon)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder"><Directory Id="INSTALLDIR" Name="ATC" /></Directory>
      <Directory Id="ProgramMenuFolder"><Directory Id="ApplicationProgramsFolder" Name="ATC" /></Directory>
    </Directory>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Path" Guid="0aa66b3b-fc2f-556f-ac49-acf7c56913c7" Win64="yes">
        <File Id="Path" Source="$(var.Binary)" Name="atc.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="ConPTY" Guid="3f7c2d8e-5b1a-4e6f-9c0d-8a2b4e6f1c3d" Win64="yes">
        <File Id="ConptyDll" Source="$(var.Bin)\conpty.dll" Name="conpty.dll" KeyPath="yes" />
        <File Id="OpenConsole" Source="$(var.Bin)\OpenConsole.exe" Name="OpenConsole.exe" />
        <File Id="ConptyLicense" Source="$(var.Licenses)\conpty-LICENSE.txt" Name="conpty-LICENSE.txt" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*" Win64="yes">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="ATC" Target="[INSTALLDIR]atc.exe" WorkingDirectory="INSTALLDIR" Icon="AppIcon" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\atc\ATC" Name="Start Menu Shortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <Feature Id="Main" Title="ATC" Level="1"><ComponentRef Id="Path" /><ComponentRef Id="ConPTY" /><ComponentRef Id="ApplicationShortcut" /></Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.License)" />
  </Product>
</Wix>
